body{
  background-color: #feb236;
}

html{
  cursor: url(crosshair.png) 64 64, auto;
}

.inflatable {
  width: 180px;
  height: 200px;
  background-color: #d64161;
  border-radius: 50%;
}
.string {
  width: 3px;
  height: 100px;
  background-color: #6b5b95;
  margin-left: 90px;
}
.balloon{
  position: absolute;
  bottom: 0;
  cursor: url(crosshair-hot.png) 64 64, auto;
}

.scoreboard {
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.scoreboard .replay,
.scoreboard .label {
  visibility: hidden;
}

.scoreboard.ready {
  top: 50%;
}

.scoreboard.ready .replay,
.scoreboard.ready .label {
  visibility: visible;
}

.scoreboard .replay {
  border: 1px solid #f33;
  padding: 3px;
  border-radius: 5px;
  font-size: 35px;
  color: #fff;
  text-decoration: none;
  background: #f66;
  display: block;
  margin: 10px;
}

.scoreboard.ready .badge {
  width: 350px;
  height: 150px;
  padding: 15px;
  margin: 0px auto;
  border-radius: 15px;
  border: 4px solid #fff;
  background-color: rgba(37, 120, 144, 0.62);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.62);
}
